<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548839313356-2d5lik5fsjevrbbuhcp6kdoc9ofb099m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548839313356-2d5lik5fsjevrbbuhcp6kdoc9ofb099m</string>
	<key>API_KEY</key>
	<string>AIzaSyANsPZXWyyGGPL8l5pCICSTSc4gF0CVxCE</string>
	<key>GCM_SENDER_ID</key>
	<string>548839313356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dentalApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dental-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>dental-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548839313356:ios:40286a642fe611f30ed769</string>
</dict>
</plist>